@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

.orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.space-grotesk {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    .btn-container {

        button {
            font-family: 'Space Grotesk';
            padding: 10px 20px 10px 20px;
            background: transparent;
            font-size: 20px;
            border-radius: 20px;
            border: 2px solid #749bf5;
            color: #749bf5;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
        }

        button:hover {
            color: white;
            background: #749bf5;
        }
    }
}

body {
    background: #0f172a;

    .wrap {
        height: 100px;
    }
}

main {
    padding: 20px;

    .cont {
        background: #749bf5;
        height: auto;
        padding: 20px;
        border-radius: 20px;
        margin-top: 20px;

        i {
            color: black;
            padding: 5px;
            text-align: center;
            border-radius: 5px;
            font-size: 32px;
            background: #ffffff;
        }

        h2 {
            display: inline;
            font-family: 'Space Grotesk';
            color: black;
            font-size: 32px;
            margin: 20px;
        }

        .mensage-cont,
        .midia-cont,
        .style-cont,
        .font-cont {
            margin-top: 20px;
            display: flex;
            flex-direction: column;

            label,
            h3 {
                color: #0f172a;
                font-family: 'Space Grotesk';
                font-size: 20px;
                display: block;
                margin-top: 20px;
            }

            input,
            textarea {
                padding: 10px 0px 10px 10px;
                font-size: 20px;
                border-radius: 5px;
                border: 2px solid transparent;
                outline: none;
                margin-top: 5px;
                transition: all 0.3s ease-in-out;
                height: auto;
                display: block;
            }

            input:focus {
                border: 2px solid #0f172a;
            }

        }

        .style-cont {
            .btn-cont-style {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
                margin-top: 10px;

                button {
                    background: rgb(0, 35, 114);
                    font-size: 20px;
                    padding: 10px 0px 10px 10px;
                    text-align: start;
                    color: white;
                    font-family: 'Space Grotesk';
                    border: none;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;

                    span {
                        width: 20px;
                        height: 20px;
                        display: inline-block;
                        border-radius: 50%;
                    }
                }

                button:hover {
                    transform: scale(1.02);
                }
            }
        }

        .font-cont {
            button {
                background: rgb(0, 35, 114);
                font-size: 20px;
                padding: 10px 0px 10px 10px;
                text-align: start;
                color: white;
                font-family: 'Space Grotesk';
                border: none;
                border-radius: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                margin-top: 10px;
            }

            button:hover {
                transform: scale(1.02);
            }
        }
    }
}

.preview-cont {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -2;
    opacity: 0;
    backdrop-filter: blur(10px);
    padding: 40px;
    padding-top: 120px;

    .preview {
        background: #f5f0ff;
        height: 100%;
        border-radius: 20px;
        text-align: center;
        overflow-y: scroll;

    }

    h2 {
        font-size: 28px;
        color: black;
    }

    h3 {
        color: black;
        font-size: 5em;
    }

    p {
        font-size: 2em;
        margin: 50px;
        white-space: pre-wrap;
        word-wrap: break-word;
        text-align: center;
    }
}

@keyframes show {
    from {
        z-index: -2;
        opacity: 0;
    }

    to {
        z-index: 9;
        opacity: 1;
    }
}

@keyframes unshow {
    from {
        z-index: 9;
        opacity: 1;
    }

    to {
        z-index: -2;
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .preview h2 {
        font-size: 26px;
    }

    .preview h3 {
        font-size: 3em;
    }

    .preview p {
        font-size: 1.5em;
        text-align: center;
        .preview h2 {
        font-size: 26px;
    }

    .preview h3 {
        font-size: 3em;
    }

    .preview p {
        font-size: 1.5em;
        text-align: center;
        margin: 5px;
        margin-top: 25px;
    }

    }
}