@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

.orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.space-grotesk {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    .btn-container {
        display: flex;
        justify-content: space-evenly;
        gap: 20px;

        button {
            font-family: "Space Grotesk";
            padding: 10px 20px 10px 20px;
            background: transparent;
            font-size: 20px;
            border-radius: 20px;
            border: 2px solid #749BF5;
            color: #749BF5;
            transition: all 0.2s ease-in-out;
            cursor: pointer;

        }

        button:hover {
            color: white;
            background: #749BF5;
            transform: scale(1.03);
        }
    }
}

body {
    background: #0F172A;

    .wrap {
        height: 100px;
    }
}

main {
    padding: 20px;

    .cont {
        background: #749BF5;
        height: auto;
        padding: 20px;
        border-radius: 20px;
        margin-top: 20px;

        i {
            color: black;
            padding: 5px;
            text-align: center;
            border-radius: 5px;
            font-size: 32px;
            background: #FFFFFF;
        }

        h2 {
            display: inline;
            font-family: "Space Grotesk";
            color: black;
            font-size: 32px;
            margin: 20px;
        }

        .mensage-cont,
        .midia-cont,
        .style-cont,
        .font-cont {
            margin-top: 20px;
            display: flex;
            flex-direction: column;

            label,
            h3 {
                color: #0F172A;
                font-family: "Space Grotesk";
                font-size: 20px;
                display: block;
                margin-top: 20px;
            }

            input,
            textarea {
                padding: 10px 0px 10px 10px;
                font-size: 20px;
                border-radius: 5px;
                border: 2px solid transparent;
                outline: none;
                margin-top: 5px;
                transition: all 0.3s ease-in-out;
                height: auto;
                display: block;
            }

            input:focus {
                border: 2px solid #0F172A;
            }
        }

        .style-cont {
            .btn-cont-style {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
                margin-top: 10px;

                button {
                    font-size: 20px;
                    padding: 10px 0px 10px 10px;
                    text-align: start;
                    font-family: "Space Grotesk";
                    border: none;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                }

                button:hover {
                    transform: scale(1.02);
                }

                .white-theme {
                    background: #FFEBF0;
                    color: #D63384;
                    border: 4px solid #FFEBF0;
                }

                .night-theme {
                    background: #0F172A;
                    color: #FFD700;
                    border: 4px solid #0F172A;
                }

                .custom-theme {
                    background: rgb(0, 35, 114);
                    color: white;
                    border: 4px solid rgb(0, 35, 114);
                }
            }
        }

        .font-cont {
            button {
                background: rgb(0, 35, 114);
                font-size: 20px;
                padding: 10px 0px 10px 10px;
                text-align: start;
                color: white;
                font-family: "Space Grotesk";
                border: none;
                border-radius: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                margin-top: 10px;
            }

            button:hover {
                transform: scale(1.02);
            }
        }
    }
}

.preview-cont {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -2;
    opacity: 0;
    backdrop-filter: blur(10px);
    padding: 40px;
    padding-top: 120px;

    .preview {
        background: #F5F0FF;
        height: 100%;
        border-radius: 20px;
        text-align: center;
        overflow-y: scroll;
    }

    h2 {
        font-size: 28px;
        color: black;
    }

    h3 {
        color: black;
        font-size: 5em;
    }

    p {
        font-size: 2em;
        margin: 50px;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    .align {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

}

.custom-title-window,
.custom-subtitle-window,
.custom-mensage-window,
.custom-background-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    background: rgba(116, 155, 245, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Space Grotesk';
    opacity: 0;

    h2,
    h3,
    p {
        font-size: 4em;
        font-weight: 700;
        text-align: center;
    }

    input {

        width: 100px;
        height: 100px;
        border-radius: 20px;
        border: none;
    }

    input::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    input::-webkit-color-swatch {
        border: none;
    }

    button {
        margin-top: 20px;
        background: rgb(0, 35, 114);
        font-size: 20px;
        padding: 10px 10px 10px 10px;
        text-align: start;
        color: white;
        font-family: "Space Grotesk";
        border: none;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    button:hover {
        transform: scale(1.10);
    }
}


@keyframes show {
    from {
        z-index: -2;
        opacity: 0;
    }

    to {
        z-index: 9;
        opacity: 1;
    }
}

@keyframes unshow {
    from {
        z-index: 9;
        opacity: 1;
    }

    to {
        z-index: -2;
        opacity: 0;
    }
}

@keyframes show2 {
    from {
        z-index: -2;
        opacity: 0;
    }

    to {
        z-index: 8;
        opacity: 1;
    }
}

@keyframes unshow2 {
    from {
        z-index: 8;
        opacity: 1;
    }

    to {
        z-index: -2;
        opacity: 0;
    }
}

@keyframes shine {
    to {
        background-position: 200%;
    }
}

@media (max-width: 768px) {
    header h1 {
        font-size: 20px;
    }

    .preview h2 {
        font-size: 26px;
    }

    .preview h3 {
        font-size: 3em;
    }

    .preview p {
        font-size: 1.5em;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 30px;
    }
}